.heading4 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 16pt;
    margin-bottom: 0.8rem;
}

#regularButtons {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
}

.uiButton {
    background-color: #429CC4;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
}

.buttonSection {
    /* width: 33%; */
}

.largeButton {
    padding: 1rem 3rem;
    font-size: 22pt;
    margin: .5rem 0;
}

.mediumButton {
    padding: 0.8rem 2.5rem;
    font-size: 18pt;
    margin: .5rem 0;
}

.smallButton {
    padding: .6rem 2rem;
    font-size: 14pt;
    margin: .5rem 0;
}

.hovered {
    background-color: #8ACCE4;
}

.clicked {
    background-color: #215885;
}

.functioningButton {
    cursor: pointer;
}

.functioningButton:hover {
    background-color: #8ACCE4;
}

.functioningButton:active {
    background-color: #215885;
}


.miscButtonsContainer {
    display: flex;
    flex-wrap: wrap;
}

.miscButtonsContainer div {
    margin: 0 0.5rem 0.5rem 0;
}

#miscButtonsTitle {
    margin-bottom: .5rem;
}

.checkbox input {
    margin: 0;
    height: 2rem;
    width: 2rem;
}

.miscButton {
    width: 3rem;
    height: 3rem;
    border: 2px solid #707070;
    border-radius: 3px;
    display: flex;
}

.miscIcon {
    width: 1.8rem;
    height: 1.8rem;
    padding: .6rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#miscButtonsText {
    display: flex;
    justify-content: space-between;
    width: 8rem;
    padding: 0 0.5rem;
}

#miscButtonsText div {
    font-size: 22pt;
    padding-top: 0.4rem;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#miscButtonsText img {
    width: 1.8rem;
}

.dropdown {
    width: 50%;
    margin: .5rem 0;
    height: 3rem;
    border: 2px solid #707070;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.5rem;

    background-image: url("../../images/icons/ui-elements-icons/expand.svg");
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 2rem;
}

.ghostDropdown {
    color: #707070;
}

.dropdownText {
    padding-top: .3rem;
}

.input {
    border: 2px solid #707070;
    border-radius: 6px;
    font-size: 1.5rem;
    margin: .5rem 0;
    padding: 0 .5rem;
}

.smallInput {
    width: 50%;
}

.passwordInput {
    padding-top: 1rem;
    line-height: 2.2rem;
    font-size: 3rem;
    font-family: sans-serif;
}

.textInput {
    padding: .5rem;
    border: 2px solid #429CC4;
}

.inputText {
    padding-top: .3rem;
}

#defaultTextField {
    height: 25vw;
    width: 80%;
    padding: .5rem;
}

#passwordError {
    border-color: #E05C5A;
    color: #E05C5A;
}

#ghostSearch {
    color: #47515A;

    background-image: url(../../images/icons/ui-elements-icons/search.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 2rem;
}

#searchField {
    
    background-image: url(../../images/icons/ui-elements-icons/search.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 2rem;
}

#numberField {

}

.avatarImage {
    background-color: #f2f2f2;
    border: 1px solid #47515A;
    width: 15vw;
    height: 15vw;
    margin: .5rem;

    display: flex; 
    justify-content: center;
}

.avatarImage img {
    width: 50%;
}

.avatarRow {
    display: flex;
    margin-bottom: 5vw;
}

.circularAvatar {
    border-radius: 50%;
}

.squareAvatar {
    border-radius: 6px;
}

#circular {
    background-image: url("../../images/portraits/1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#circularEdit {
    background-image: url("../../images/portraits/2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#square {
    background-image: url("../../images/portraits/3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#squareEdit {
    background-image: url("../../images/portraits/4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 600px) {
    .largeButton {
        padding: .6rem 1.7rem;
        font-size: 18pt;
    }
    
    .mediumButton {
        padding: .5rem 1.4rem;
        font-size: 16pt;
    }
    
    .smallButton {
        padding: .3rem .8rem;
        font-size: 14pt;
    }
}