body {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 75%;
    margin: 0 2rem;
}

.title {
    font-size: 11vw;
    font-style: italic;
}

.sectionHeader {
    font-weight: bold;
    font-size: 4vw;
    border-bottom: 1px solid black;
    margin-bottom: 3vw;
}

.colors #firstRow, .colors #secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.colors #primary {
    width: 33.33%;
}

.colors #secondary {
    width: 50%;
}

.colors #tertiary {
    width: 66.66%;
}

.colorBox {
    height: 12vw;
    width: 100%;
}

.colorGroup {
    width: 12vw;
}

.blank {
    background-color: white;
}

.colorGroupContainer {
    display: flex;
    justify-content: space-between;
}

.c215885 {
    background-color: #215885;
}

.cF3CE46 {
    background-color: #F3CE46;
}

.c429CC4 {
    background-color: #429CC4;
}

.c8ACCE4 {
    background-color: #8ACCE4;
}

.cDBC680 {
    background-color: #DBC680;
}