body {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 80%;
    margin: 0 2rem;
}

/* color classes */
.c215885 {
    background-color: #215885;
}

.cF3CE46 {
    background-color: #F3CE46;
}

.c429CC4 {
    background-color: #429CC4;
}

.c8ACCE4 {
    background-color: #8ACCE4;
}

.cDBC680 {
    background-color: #DBC680;
}

.c98D968 {
    background-color: #98D968;
}

.cE05C5A {
    background-color: #E05C5A;
}

.c8ACCE4 {
    background-color: #8ACCE4;
}

.cF3CE46 {
    background-color: #F3CE46;
}

.cDBC680 {
    background-color: #DBC680;
}

.c000000 {
    background-color: #000000;
}

.c47515A {
    background-color: #47515A;
}

.cC9D6E1 {
     background-color: #C9D6E1
}

.cF2F2F2 {
    background-color: #F2F2F2;
}
/* end color classes */

/* font classes */
.averiaSerifLibre {
    font-family: 'Averia Serif Libre', cursive;
}

.alegreyaSans {
    font-family: 'Alegreya Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
/* end font classes */

/* responsiveness classes */
.mobileOnly600px {
    display: none;
}

.desktopOnly600px {
    display: block;
}
/* end responsiveness classes */

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
}

.desktopNav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.desktopNav a {
    text-decoration: none;
    color: black;
}

.mobileNav {
    padding: 3vw;
}

.mobileNav img {
    width: 7vw;
}

.navItem {
    padding: 0 1vw;
}

.title {
    font-size: 11vw;
    font-style: italic;
}
/* end header styles */

.sectionHeader {
    font-weight: bold;
    font-size: 4vw;
    border-bottom: 1px solid black;
    margin-bottom: 4vw;
}

.section {
    padding: 0 0 0 2vw;
    margin-bottom: 2vw;
}

#colors #primary {
    /* width: 33.33%; */
}

#colors #secondary {
    /* width: 50%; */
}

#colors #tertiary {
    /* width: 66.66%; */
}

#colors #stateChange {
    /* width: 83.33%; */
}

.colorRow {
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.colorBox {
    height: 12vw;
    width: 100%;
}

.colorGroup {
    width: 12vw;
    margin-right: 2vw;
}

.colorGroupContainer {
    display: flex;
    /* justify-content: space-between; */
}

/* typography section styles */
.typeSection {
    display: flex;
    padding-bottom: 2rem;
}

.typeStyles {
    border-left: 1px solid black;
    padding-left: 1vw;
}

.typeStyleContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vw;
}

.typeIntro {
    width: 35%;
}

.typeStyles {
    width: 64%;
}

.typeName {
    font-size: 3vw;
}

.typeLargeExample {
    font-size: 18vw;
}

.typeStyleTitle {
    font-size: 2.5vw;
}

.typeStyleLabel {
    font-size: 1.2vw;
}

.typeStyleExample {
    width: 60%;
    font-size: 1.5vw;
}
/* end typography section styles */

/* type hierarchy styles */
#typeHierarchy {
    padding-bottom: 3vw;
}

.typeHierarchyRow {
    height: 4vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.typeHierarchyText {
    width: 32vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.typeHierarchyType {
    width: 15vw;
    text-align: right;
    line-height: 5vw;
}

.typeHierarchyStyle {
    width: 20vw;
    text-align: right;
    line-height: 5vw;
}

#heading1 .typeHierarchyText {
    font-weight: bold;
    font-size: 30pt;
    line-height: 5vw;
}

#heading2 .typeHierarchyText {
    font-weight: bold;
    font-size: 26pt;
    line-height: 5vw;
}

#heading3 .typeHierarchyText {
    font-weight: bold;
    font-size: 20pt;
    line-height: 5vw;
}

#heading4 .typeHierarchyText {
    font-size: 20pt;
    line-height: 5vw;
}

#largeBoldCopy .typeHierarchyText {
    font-weight: bold;
    font-size: 14pt;
    line-height: 5vw;
}

#largeBodyCopy .typeHierarchyText {
    font-size: 14pt;
    line-height: 5vw;
}

#boldBodyCopy .typeHierarchyText {
    font-weight: bold;
    font-size: 12pt;
    line-height: 5vw;
}

#bodyCopy .typeHierarchyText {
    font-size: 12pt;
    line-height: 5vw;
}

#linkText .typeHierarchyText {
    font-weight: bold;
    font-size: 12pt;
    color: #DBC680;
    line-height: 5vw;
}

#buttonText .typeHierarchyText {
    font-weight: bold;
    font-size: 12pt;
    color: #215885;
    line-height: 5vw;
}
/* end type hierarchy styles */

/* icons styles */
#iconsSection {
    display: flex;
    flex-wrap: wrap;
}

.iconStyle {
    width: 45%;
    padding: 1.5vw;
}

.iconStyle img {
    max-width: 100%;
}

.iconLabel {
    padding-bottom: 1vw;
}

.iconImageContainer {
    padding: 1vw;
}
/* end icons styles */

@media only screen and (max-width: 850px) {
    .container {
        max-width: 95%;
        margin: 0 auto;
    }

    .section {
        padding: 0 4vw;
    }

    .typeHierarchyRow {
        height: auto;
    }

    .colorLabel {
        font-size: 8pt;
    }
}

@media only screen and (max-width: 600px) {
    #iconsSection {
        display: block;
    }
    
    .iconStyle {
        width: 100%;
        padding-bottom: 5vw;
    }

    .colorBox {
        height: 14vw;
    }

    .colorGroup {
        width: 14vw;
    }

    .desktopOnly600px {
        display: none;
    }

    .mobileOnly600px {
        display: block;
    }
}